
  {{> navbar}}

  <div id="homeContainer">
  
    <header>
      <h1 id="homeGreeting" data-id="{{id}}">Hello, {{name}}</h1>
      <h2 id="homeFunds" data-capital="{{fund.capital}}"> Total Funds: ${{format_amount fund.capital}}</h2>
      <div class="fundsControl">
        <button id="subtract">-</button>
        <input id="fundsInput">
        <button id="add" >+</button>
      </div>
    </header>
  
    <div id="homeItemContainer">
      {{#each items}}
      <div class="homeItemBox">
        <h3>{{name}}</h3>
        <p>${{pledged}} saved out of ${{cost}}</p>
      </div>
      {{/each}}
      
    </div>

  </div>

<script src="./js/home.js"></script>