

  {{> navbar}}
<div class="item-container">
  <div id="homeContainer">
    {{#each items}}
    <div class="itemPageContainer">
      <h1 data-id="{{id}}" >{{name}}</h1>
      <h3>${{pledged}} saved out of ${{cost}}</h3>
      
      <p>{{notes}}</p>
    </div>
    {{/each}}
  </div>
  
  <div>
  <canvas id="myChart"></canvas>
</div>
</div>
 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/chart.js"></script>