

  {{> navbar}}
<div class="item-container">
    {{#each items}}
    <div class="itemPageContainer">
      <h1 data-id="{{id}}" >{{name}}</h1>
      <h3><span class="greenFont">${{pledged}}</span>   saved out of   <span class="greenFont">${{cost}}</span></h3>
      
      <p>{{notes}}</p>
      <canvas id="myChart"></canvas>
    </div>
    {{/each}}
  
  <div>
</div>
</div>
 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/chart.js"></script>