

  {{> navbar}}

  <div id="homeContainer">
    {{#each items as |item|}}
    <div id="itemPageContainer">
      <h1 data-id="{{id}}" >{{name}}</h1>
      <h3>${{pledged}} saved out of ${{cost}}</h3>
      
      <p>{{notes}}</p>
    </div>
    {{/each}}
  </div>
